/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/nbproject/private/
/client.json
/database/migrations/2021_07_14_104443_create_produits_table.php
/database/migrations/2021_07_14_115015_create_produits_table.php
/database/migrations/2021_07_14_161633_create_clients_table.php
/database/migrations/2021_07_15_092931_create_factures_table.php
/factures.json
/nbproject/project.properties
/nbproject/project.xml
/produits.json
